h1 {
    text-align: center;
}

#start_button {
    position: absolute;
    left: 46%;
}

#timer {
    text-align: center;
}

#guess-form {
    text-align: center;
    margin-top: 10px;
}

.game-board {
    font-size: 45px;
    background-color: rgb(201, 194, 194);
    margin-bottom: 20px;
    border: black 2px solid;
    margin: 0 auto;
}

.ok{
    background-color: rgb(140, 231, 3);
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
}

.err{
    background-color: rgb(197, 23, 17);
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
}

#score {
    font-size: 60px;
    position: absolute;
    top: 10px;
    left: 20px;
}